@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.page {
    font-family: $current-font-name;
    background-color: $white-background;
}
.page__top {
    max-width: $max-width;
    margin: $auto-margin;
}
.top__menu {
    display: inline-block;
    padding-top: 50px;
}
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu__item {
    float: left;
}
.menu__link {
    display: block;
    text-align: left;
    text-transform: uppercase;
    padding-right: 40px;
    font-size: 18px;
}
.top__header {
    margin-top: 150px;
    color: #000;
    font-weight: bold;
    font-size: 48px;
}
.top__description {
    margin-top: 30px;
    max-width: 580px;
    color: #727272;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    text-align: left;
}
.top__button {
    margin-top: 50px;
    margin-bottom: 100px;
    text-transform: uppercase;
    background-color: #34547A;
    padding: 20px 50px;
    text-align: center;
    display: inline-block;
    color: #FFF;
    font-family: 'Lucida Grande';
}