 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.body {
    font-family: "Roboto";
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.top-header-links {
    background-color: #EFEFEF;
}
.list-top-links {
    display: flex;
    justify-content: center;
}
.list-top-item {
    margin-left: 15px;
}
.top-link {
    color: #333;
    display: block;
    padding: 15px;
}
.top-link:hover {
    background-color: #8f8f8f;
}
.center-section-container {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-name {
    text-transform: uppercase;
    color: #F13C6E;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 3.6px;
}
.img-logo {
    margin-right: 20px;
}
.logo-wrapper {
    display: flex;
    align-items: center;
}
.call-back {
    border: 1px solid #F13C6E;
    border-radius: 20px;
    padding: 15px 25px;
    margin-left: 40px;
    background-color: #FFF;
}
.second-header {
    background-color: #FFF;
    border: 1px solid #EFEFEF;
}
.list-main-links {
    display: flex;
    justify-content: center;  
}
.list-second-item {
    margin-right: 16px;
    font-size: 16px;
}
.second-link {
    color: #000;
    display: block;
    padding: 15px;
}
.slider-wrapper {
    background-image: url(../images/Rectangle.png);
    background-position: center;
    background-color: #F13C6E;
    background-repeat: no-repeat;
    padding: 176px 0;
    color: #FFF;
}
.slider-wrapper-title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 50px;
}
.slider-wrapper-text {
    font-size: 14px;
    margin-bottom: 40px;
    line-height: 20px;
}
.slider-wrapper-more {
    padding: 15px 25px;
    border: 2px solid #FFF;
    color: #FFF;
    background-color: #F13C6E;
    border-radius: 20px;
}
.specialoffers {
    background-color: #EFEFEF;
    padding: 40px 0;
}
.special-offers {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 38px;
}
.special-offers-card {
    display: flex;
    justify-content: space-between;
}
.special-card {
    display: inline-block;
    text-align: center;
    background-color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 10px 50px;
}
.special-card-descr {
    color: #333;
    font-size: 14px;
    margin-top: 20px;
    line-height: 16px;
    font-weight: 400;
}
.special-card-title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 21px;
    font-weight: 500;
    line-height: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.spacial-card-button {
    background-color: #F13C6E;
    border-radius: 30px;
    padding: 10px 50px;
    border: 2px solid #FFF;
    color: white;
    margin: 0 auto;
}
.impuls-wrapper {
    background-color: #EFEFEF;
}

.impuls-container-wrapper {
    background-color: #EFEFEF;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2px;    
}
.impuls-logo {
    padding: 36px 75px;
    background-color: white;
    color: #FFF;
    display: inline-block;
}

.recent-wrapper {
    background-color: #EFEFEF;
    padding: 50px 0px;
}
.site-menu-wrapper {
    display: grid;
    grid-template-columns: auto;
    column-count: 1;
    background-color: #FFF;
    padding-top: 30px;
    padding-bottom: 50px;
    border-top: 1px solid #EFEFEF;
}
.site-menu-link {
    color: #828282;
    font-size: 12px;
    line-height: 28px;
}
.site-menu-title {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    padding-top: 60px;
    padding-bottom: 30px;
    max-width: 120px;
}
.gifts-wrapper {
    background-color: #EFEFEF;
}
.mail-wrapper-text {
    padding-right: 100px;
}
.delivery-wrapper-text {
    padding-right: 50px;
}
.gifts-section {
    color: white;
    background-color: #F13C6E;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 20px 20px;
    max-width: 550px;
}
.gift-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.delivery {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gifts-section h3 {
    font-size: 18px;
}
.gifts-section p {
    font-size: 14px;
    line-height: 20px;
}
.store-map {
    background-color: #F13C6E;
    border-radius: 30px;
    border: 1px solid white;
    color: white;
    max-width: 200px;
    line-height: 30px;
    font-size: 12px;
}
.your-email {
    background-color: white;
    color: lightgray;
    border-radius: 30px;
    border: 1px solid white;
    font-size: 14px;
    line-height: 30px;
    max-width: 300px;
    text-align: left;
    padding-left: 20px;
}
.gifts-container-wrapper {
    display: flex;
    padding: 50px 0;
    justify-content: space-between;
}
.map-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 30px;
}
.site-contact-wrapper {
    border-top: 1px solid #EFEFEF;
}
.contact-container {
    padding-top: 30px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.social-network {
    display: inline-block;
}
.social-network img {
    padding-right: 20px;
}
.footer-wrapper {
    width: 100%;
    background-color: #EFEFEF;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    justify-content: space-between;
}
.footer-copyright {
    color: #828282;
}
