@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
.page {
    font-family: "Roboto";
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
.page__top {
    padding: 50px 0;
    background-color: #EEEFF1;
}
.navigation__menu {
    display: inline-block;
}
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigation__item {
    float: left;
}
.navigation__link {
    display: block;
    text-align: left;
    text-transform: uppercase;
    padding-right: 40px;
    font-size: 18px;
}
.top__header {
    margin-top: 150px;
    color: #000;
    font-weight: bold;
    font-size: 48px;
}
.top__description {
    margin-top: 30px;
    max-width: 580px;
    color: #727272;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    text-align: left;
}
.top__button {
    margin-top: 50px;
    text-transform: uppercase;
    background-color: #34547A;
    padding: 20px 90px;
    text-align: center;
    display: inline-block;
    color: #FFF;
}
.page__center {
    background-color: white;
}
.center {
    text-align: center;
    display: grid;
    justify-content: center;
}
.center__about-me {
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
}
.center__description {
    padding-top: 50px;
    max-width: 500px;
    color: #727272;
    font-weight: 400;
    line-height: 19px;
    font-size: 15px;
}
.page__my-projects {
    background-color: #34547A;
    text-align: center;
}
.stripe {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 30px;
    justify-content: center;
}
.stripe__project {
    display: flex;
}
.project__image {
    padding-right: 10px;
}
.project__title {
    color: white;
    display: grid;
    row-gap: 5px;
    grid-auto-columns: auto;
    text-align: left
}
.project__title__bold {
    font-weight: bold;
}
.page__my-work {
    background-color: #EEEFF1;
}
.page__my-work-container {
    text-align: center;
    display: grid;
}
.page__my-work-title {
    font-size: 24px;
    font-weight: 600;
}
.page__my-work-text {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 50px;
    color: #727272;
    font-size: 15px;
}
.page__my-work-text__centered {
    max-width: 600px;
}
.page__my-work-video {
    margin: 0 auto;
    text-align: center;
    padding-top: 57px;
    background-color: #EEEFF1;
    padding-bottom: 50px;
}
.page__my-video__size {
    width: 1200px;
    height: 600px;
}
.page__footer {
    background-color: #34547A;
}
.page__footer-container {
    padding: 50px 0;
    text-align: left;
    display: block;
}
.page__footer__author {
    font-size: 21px;
    font-weight: 500;
    line-height: 25px;
    color: #FFF;
}
.page__footer__copyright {
    color: #FFF;
    font-size: 13px;
    font-weight: 400;
    padding-top: 20px;
}